@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Roboto:wght@400;500&display=swap');


/* Pixel Font */
@font-face {
  font-family: "PixelFont";
  src: url("/path-to-font/pixel-font.woff2") format("woff2");
}
.pixel-font {
  font-family: "PixelFont", monospace;
}

/* CRT Effect */
.crt-effect {
  text-shadow: 0px 0px 5px rgba(0, 255, 0, 0.75), 0px 0px 10px rgba(0, 255, 0, 0.5);
}

/* Retro Border */
.retro-border {
  border: 2px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0px 0px 8px rgba(0, 255, 255, 0.5);
}

/* Global styles for Masonry */
.masonry-grid {
  display: flex;
  margin-left: -1rem; /* Optional: Adjust for spacing between columns */
  width: auto;
}

.masonry-grid_column {
  padding-left: 1rem; /* Optional: Adjust for spacing between columns */
  background-clip: padding-box;
}

.masonry-grid_column > div {
  margin-bottom: 1rem; /* Adjust spacing between items */
}



.animate-fadeIn {
  animation: fadeIn 1s ease-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

/* Animation for fading in elements */
.fade-in {
  animation: fadeIn 1s ease-out forwards;
}

.fade-in-delayed {
  animation: fadeIn 1s ease-out forwards;
  animation-delay: 0.5s;
  opacity: 0; /* Ensure it's hidden until animation runs */
}

/* Bounce animation for scroll indicator */
.animate-bounce {
  animation: bounce 1.5s infinite;
}
